{% extends 'web/menu_izquierdo.html' %} 
{% load static %} 
{% block principal %} 


	<!-- Content
	================================================== -->
	<div class="dashboard-content">

		<!-- Titlebar -->
		<div id="titlebar">
			<div class="row">
				<div class="col-md-12">
					<h2>Usuario admin!</h2>
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="#">Home</a></li>
							<li>Dashboard</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<!-- Notice -->
		<div class="row">
			<div class="col-md-12">
				<div class="notification success closeable margin-bottom-30">
					<p>Tu producto <strong>Pack de cerveza</strong> se publico con exito!</p>
					<a class="close" href="#"></a>
				</div>
			</div>
		</div>

		<!-- Content -->
		<div class="row">

			<!-- Item -->
			<div class="col-lg-3 col-md-6">
				<div class="dashboard-stat color-1">
					<div class="dashboard-stat-content"><h4>236</h4> <span>Total productos</span></div>
					<div class="dashboard-stat-icon"><i class="im im-icon-Map2"></i></div>
				</div>
			</div>

			<!-- Item -->
			<div class="col-lg-3 col-md-6">
				<div class="dashboard-stat color-2">
					<div class="dashboard-stat-content"><h4>726</h4> <span>Total ventas</span></div>
					<div class="dashboard-stat-icon"><i class="im im-icon-Line-Chart"></i></div>
				</div>
			</div>

			
			<!-- Item -->
			<div class="col-lg-3 col-md-6">
				<div class="dashboard-stat color-3">
					<div class="dashboard-stat-content"><h4>25</h4> <span>Stock bajo</span></div>
					<div class="dashboard-stat-icon"><i class="im im-icon-Add-UserStar"></i></div>
				</div>
			</div>

			<!-- Item -->
			<div class="col-lg-3 col-md-6">
				<div class="dashboard-stat color-4">
					<div class="dashboard-stat-content"><h4>16</h4> <span>Sin stock</span></div>
					<div class="dashboard-stat-icon"><i class="im im-icon-Heart"></i></div>
				</div>
			</div>
		</div>


		<div class="row">
			
			<!-- Recent Activity -->
			<div class="col-lg-6 col-md-12">
				<div class="dashboard-list-box with-icons margin-top-20">
					<h4>Productos recientes</h4>
					<ul>
						<li>
							<i class="list-box-icon sl sl-icon-layers"></i> Tu producto <strong><a href="#">Pack de cerveza</a></strong> se publico con exito!
							<a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
						</li>

						<li>
							<i class="list-box-icon sl sl-icon-layers"></i> Tu producto <strong><a href="#">Leche con chocolate 1LT</a></strong> se publico con exito!
							<a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
						</li>

						<li>
							<i class="list-box-icon sl sl-icon-layers"></i> Tu producto <strong><a href="#">Leche con chocolate 1LT</a></strong> se publico con exito!
							<a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
						</li>

						<li>
							<i class="list-box-icon sl sl-icon-layers"></i> Tu producto <strong><a href="#">Leche con chocolate 1LT</a></strong> se publico con exito!
							<a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
						</li>

						<li>
							<i class="list-box-icon sl sl-icon-layers"></i> Tu producto <strong><a href="#">Leche con chocolate 1LT</a></strong> se publico con exito!
							<a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
						</li>

						<li>
							<i class="list-box-icon sl sl-icon-layers"></i> Tu producto <strong><a href="#">Leche con chocolate 1LT</a></strong> se publico con exito!
							<a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
						</li>

						<li>
							<i class="list-box-icon sl sl-icon-layers"></i> Tu producto <strong><a href="#">Leche con chocolate 1LT</a></strong> se publico con exito!
							<a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
						</li>
					</ul>
				</div>
			</div>
			
			<!-- Invoices -->
			<div class="col-lg-6 col-md-12">
				<div class="dashboard-list-box invoices with-icons margin-top-20">
					<h4>Ultimas ventas</h4>
					<ul>
						
						<li><i class="list-box-icon sl sl-icon-doc"></i>
							<strong>Venta local</strong>
							<ul>
								<li class="paid">Venta debito</li>
								<li>Venta: #00124</li>
								<li>Fecha: 20/07/2019</li>
							</ul>
							<div class="buttons-to-right">
								<a href="dashboard-invoice.html" class="button gray">Ver mas</a>
							</div>
						</li>
						
						<li><i class="list-box-icon sl sl-icon-doc"></i>
							<strong>Venta local</strong>
							<ul>
								<li class="paid">Venta debito</li>
								<li>Venta: #00108</li>
								<li>Fecha: 14/07/2019</li>
							</ul>
							<div class="buttons-to-right">
								<a href="dashboard-invoice.html" class="button gray">Ver mas</a>
							</div>
						</li>

						<li><i class="list-box-icon sl sl-icon-doc"></i>
							<strong>Venta local</strong>
							<ul>
								<li class="paid">Venta debito</li>
								<li>Venta: #00097</li>
								<li>Fecha: 10/07/2019</li>
							</ul>
							<div class="buttons-to-right">
								<a href="dashboard-invoice.html" class="button gray">Ver mas</a>
							</div>
						</li>
						
						<li><i class="list-box-icon sl sl-icon-doc"></i>
							<strong>Venta local</strong>
							<ul>
								<li class="paid">Venta debito</li>
								<li>Venta: #00091</li>
								<li>Fecha: 30/06/2019</li>
							</ul>
							<div class="buttons-to-right">
								<a href="dashboard-invoice.html" class="button gray">Ver mas</a>
							</div>
						</li>

					</ul>
				</div>
			</div>


			<!-- Copyrights -->
			<div class="col-md-12">
				<div class="copyrights">© 2024.</div>
			</div>
		</div>

	</div>
	<!-- Content / End -->

{% endblock %} 
