{% extends 'web/menu_izquierdo.html' %} 
{% load static %} 
{% block todos_los_productos %} 

	<!-- Content
	================================================== -->
	<div class="dashboard-content">

		<!-- Titlebar -->
		<div id="titlebar">
			<div class="row">
				<div class="col-md-12">
					<h2>Todos los productos</h2>
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Dashboard</a></li>
							<li>Todos los productos</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">
		
		<!-- Search -->
		<div class="col-md-12">
			<div class="main-search-input gray-style margin-top-0 margin-bottom-10">

				<div class="main-search-input-item">
					<input type="text" placeholder="Que estas buscando?" value=""/>
				</div>

				<div class="main-search-input-item">
					<select data-placeholder="Todas las categorias" class="chosen-select" >
						<option>Todas las categorias</option>	
						<option>Despensa</option>
						<option>Aguas, jugos y bebidas</option>
						<option>Verduleria</option>
						<option>Rotiseria</option>
						<option>Carnes</option>
					</select>
				</div>

				<button class="button">Buscar</button>
			</div>
		</div>
		<!-- Search Section / End -->


		<div class="col-md-12">

			<div class="row">

				<div class="col-md-12">

					<table class="basic-table">
		
						<tr>
							<th>SKU</th>
							<th>Nombre</th>
							<th>Stock</th>
							<th>Precio de compra</th>
							<th>Precio de venta</th>
							<th>Rentabilidad</th>
							<th></th>
						</tr>
		
						<tr>
							<td data-label="Column 2">33</td>
							<td data-label="Column 1">Tallarines N5</td>
							<td data-label="Column 2">45</td>
							<td data-label="Column 2">$650</td>
							<td data-label="Column 2">$990</td>
							<td data-label="Column 2">$340 - 30%</td>
							<td data-label="Column 2" class="btn btn-info">Ver mas</td>
						</tr>
		
						<tr>
							<td data-label="Column 2">33</td>
							<td data-label="Column 1">Tallarines N5</td>
							<td data-label="Column 2">45</td>
							<td data-label="Column 2">$650</td>
							<td data-label="Column 2">$990</td>
							<td data-label="Column 2">$340 - 30%</td>
							<td data-label="Column 2" class="btn btn-info">Ver mas</td>
						</tr>
		
						<tr>
							<td data-label="Column 2">33</td>
							<td data-label="Column 1">Tallarines N5</td>
							<td data-label="Column 2">45</td>
							<td data-label="Column 2">$650</td>
							<td data-label="Column 2">$990</td>
							<td data-label="Column 2">$340 - 30%</td>
							<td data-label="Column 2" class="btn btn-info">Ver mas</td>
						</tr>
		
						<tr>
							<td data-label="Column 2">33</td>
							<td data-label="Column 1">Tallarines N5</td>
							<td data-label="Column 2">45</td>
							<td data-label="Column 2">$650</td>
							<td data-label="Column 2">$990</td>
							<td data-label="Column 2">$340 - 30%</td>
							<td data-label="Column 2" class="btn btn-info">Ver mas</td>
						</tr>
						<tr>
							<td data-label="Column 2">33</td>
							<td data-label="Column 1">Tallarines N5</td>
							<td data-label="Column 2">45</td>
							<td data-label="Column 2">$650</td>
							<td data-label="Column 2">$990</td>
							<td data-label="Column 2">$340 - 30%</td>
							<td data-label="Column 2" class="btn btn-info">Ver mas</td>
						</tr>
		
						<tr>
							<td data-label="Column 2">33</td>
							<td data-label="Column 1">Tallarines N5</td>
							<td data-label="Column 2">45</td>
							<td data-label="Column 2">$650</td>
							<td data-label="Column 2">$990</td>
							<td data-label="Column 2">$340 - 30%</td>
							<td data-label="Column 2" class="btn btn-info">Ver mas</td>
						</tr>
		
						<tr>
							<td data-label="Column 2">33</td>
							<td data-label="Column 1">Tallarines N5</td>
							<td data-label="Column 2">45</td>
							<td data-label="Column 2">$650</td>
							<td data-label="Column 2">$990</td>
							<td data-label="Column 2">$340 - 30%</td>
							<td data-label="Column 2" class="btn btn-info">Ver mas</td>
						</tr>
						<tr>
							<td data-label="Column 2">33</td>
							<td data-label="Column 1">Tallarines N5</td>
							<td data-label="Column 2">45</td>
							<td data-label="Column 2">$650</td>
							<td data-label="Column 2">$990</td>
							<td data-label="Column 2">$340 - 30%</td>
							<td data-label="Column 2" class="btn btn-info">Ver mas</td>
						</tr>
		
						<tr>
							<td data-label="Column 2">33</td>
							<td data-label="Column 1">Tallarines N5</td>
							<td data-label="Column 2">45</td>
							<td data-label="Column 2">$650</td>
							<td data-label="Column 2">$990</td>
							<td data-label="Column 2">$340 - 30%</td>
							<td data-label="Column 2" class="btn btn-info">Ver mas</td>
						</tr>
		
						<tr>
							<td data-label="Column 2">33</td>
							<td data-label="Column 1">Tallarines N5</td>
							<td data-label="Column 2">45</td>
							<td data-label="Column 2">$650</td>
							<td data-label="Column 2">$990</td>
							<td data-label="Column 2">$340 - 30%</td>
							<td data-label="Column 2" class="btn btn-info">Ver mas</td>
						</tr>
						<tr>
							<td data-label="Column 2">33</td>
							<td data-label="Column 1">Tallarines N5</td>
							<td data-label="Column 2">45</td>
							<td data-label="Column 2">$650</td>
							<td data-label="Column 2">$990</td>
							<td data-label="Column 2">$340 - 30%</td>
							<td data-label="Column 2" class="btn btn-info">Ver mas</td>
						</tr>
		
						<tr>
							<td data-label="Column 2">33</td>
							<td data-label="Column 1">Tallarines N5</td>
							<td data-label="Column 2">45</td>
							<td data-label="Column 2">$650</td>
							<td data-label="Column 2">$990</td>
							<td data-label="Column 2">$340 - 30%</td>
							<td data-label="Column 2" class="btn btn-info">Ver mas</td>
						</tr>
		
						<tr>
							<td data-label="Column 2">33</td>
							<td data-label="Column 1">Tallarines N5</td>
							<td data-label="Column 2">45</td>
							<td data-label="Column 2">$650</td>
							<td data-label="Column 2">$990</td>
							<td data-label="Column 2">$340 - 30%</td>
							<td data-label="Column 2" class="btn btn-info">Ver mas</td>
						</tr>
					</table>
				</div>

			</div>

			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-top-20 margin-bottom-40">
						<nav class="pagination">
							<ul>
								<li><a href="#" class="current-page">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- Pagination / End -->

		</div>

	</div>
</div>


	</div>
	<!-- Content / End -->

{% endblock %}