{% extends 'web/menu_izquierdo.html' %} 
{% load static %} 
{% block todos_los_productos %} 

	<!-- Content
	================================================== -->
	<div class="dashboard-content">

		<!-- Titlebar -->
		<div id="titlebar">
			<div class="row">
				<div class="col-md-12">
					<h2>Todos los productos</h2>
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Dashboard</a></li>
							<li>Todos los productos</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">
		
		<!-- Search -->
		<div class="col-md-12">
			<div class="main-search-input gray-style margin-top-0 margin-bottom-10">

				<form method="post" action="{% url 'productos_por_nombre' %}" class="main-search-input-item">
					{% csrf_token %}
					<input type="text" name="nombre" placeholder="Que estas buscando?" value=""/>
				</form>

				<div class="main-search-input-item">
					<select data-placeholder="Todas las categorias" class="chosen-select" onchange="location = this.value;">
						<option value="{% url 'todos_los_productos' %}">Todas las categorias</option>
						{% for categoria in categorias %}
							<option value="{% url 'productos_por_categoria' categoria.id %}">{{ categoria.nombre }}</option>
						{% endfor %}
					</select>
				</div>

				<a href="{% url 'todos_los_productos' %}" class="button">Reiniciar filtros</a>
			</div>
		</div>
		<!-- Search Section / End -->


		<div class="col-md-12">

			<div class="row">

				<div class="col-md-12">

					<table class="basic-table">
		
						<tr>
							<th>Imagen</th>
							<th>SKU</th>
							<th>Nombre</th>
							<th>Categoria</th>
							<th>Stock</th>
							<th>Precio de compra</th>
							<th>Precio de venta</th>
							<th>Rentabilidad</th>
							<th></th>
						</tr>
						
						{% for producto in productos %}
						<tr>
							<td data-label="Column 2"><img src="{{producto.imagen.url}}" style="height: 100px;" alt=""></td>
							<td data-label="Column 2">33</td>
							<td data-label="Column 1">{{producto.nombre}}</td> 
							<td data-label="Column 1">{{producto.categoria}}</td> 
							<td data-label="Column 2">{{producto.stock}}</td>
							<td data-label="Column 2">${{producto.precio_compra}}</td>
							<td data-label="Column 2">${{producto.precio_venta}}</td>
							<td data-label="Column 2">$340 - 30%</td>
							<td data-label="Column 2" class="btn btn-info">Ver mas</td>
						</tr>
						{% endfor %}
		
					</table>
				</div>

			</div>

			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-top-20 margin-bottom-40">
						<nav class="pagination">
							<ul>
								<li><a href="#" class="current-page">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- Pagination / End -->

		</div>

	</div>
</div>


	</div>
	<!-- Content / End -->

{% endblock %}